<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0" xml:lang="en" defaultlocale="en" xmlns="http://www.w3.org/ns/widgets" id="http://github.com/fedemp/groovetoggle">
  <name short="Dyslexop">Groovetoggle</name>
  <author href="http://fedemp.com.ar" xml:lang="es">Federico Panico</author>
  <description xml:lang="en">Toggle Grooveshark play status from the toolbar.</description>
  <description xml:lang="es">Pausa y reproduce la música en Grooveshark desde la barra de tareas.</description>
  <icon width="18" height="18" src="icon_18.png"/>
  <access origin="http://grooveshark.com/*"/>
  <license href="http://opensource.org/licenses/MIT">
    Copyright 2012 Federico Panico

    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.  
  </license>
</widget>
